.heading {
  color: red;
}

.my-parag {
  color: blue;
  font-size: 2rem;
}

.mountain-img {
  width: 100px;
  height: 100px;
  border-radius: 25px;
  border: 2px solid black;
}
.kebab-img {
  width: 100px;
  height: 100px;
  border-radius: 25px;
  border: 2px solid black;
  margin-left: 10px;
  margin-right: 10px;
}
.cat-img {
  width: 100px;
  height: 100px;
  border-radius: 25px;
  border: 2px solid black;
  margin-right: 10px;
}

.random-img {
  width: 100px;
  height: 100px;
  border-radius: 25px;
  border: 2px solid black;
}
